BasedOnStyle: LLVM
Language: Cpp
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: false
PointerAlignment: Left
NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 120
TabWidth: 2
UseTab: Never
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2 
SpaceAfterTemplateKeyword: false
